@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

button {
    background-color: purple;
    color: white;
    border: 1px purple solid;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
}

button.red {
    background-color: red;
    border: 1px red solid;
}

button.blue {
    background-color: rgb(44, 183, 230);
    border: 1px rgb(44, 183, 230) solid;
}

button.green {
    background-color: green;
    border: 1px green solid;
}

button.yellow {
    background-color: yellow;
    border: 1px yellow solid;
    color: #000;
}

button:focus {
    outline: none;
}

button .circle {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}